@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Quicksand", serif;
font-family: "Raleway", serif; */


/* Page setup */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common css */



/* Variable Color */

:root{
    --color-blue: #01ACFD;
    --color-orange: #FEA301;
    --color-black: #111111;
    --color-white: #F7F7F7
}

:root{
    --font-primary: "Quicksand", serif;
    --font-second: "Raleway", serif;
}

/* Common Css */

.btn{
    background-color: var(--color-black);
    font-family: var(--font-primary);
    font-size: 1.25rem;
    padding: 10px 90px;
    border-radius: 12px;
    border: none;
    color: var(--color-white);
    cursor: pointer;
}
.width80{
    max-width: 80%;
    margin: 0 auto;
}
.section-bgc{
    background: rgb(247, 247, 247);
}
img{
    max-width: 100%;
}
/* Header Section */

.nav-section{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.nav-logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-logo h1{
    color: var(--color-black);
    font-size: 2rem;
    font-family: var(--font-primary);
    text-transform: uppercase;
}

.nav-menu ul li{
    display: inline-block;
    list-style: none;
    margin: 0 16px;
}

.nav-menu ul li a{
    text-decoration: none;
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 1.25rem;
}

.nav-menu ul li:first-child a{
    color: var(--color-orange);
}
.nav-menu ul li:nth-child(2) a{
    color: var(--color-blue);
}
.nav-menu ul li:nth-child(3) a{
    color: rgb(5, 212, 223);
}
.nav-menu ul li:nth-child(4) a{
    color: rgb(93, 88, 239);
}
.btn-menu{
    background-color: var(--color-orange);
}

.mobile-bar{
    display: none;
}


/* Banner section */



.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    gap: 20%;
}
.banner-text{
    width: 40%;
}
.banner-img{
    width: 40%;
}
.banner-text h1{
    font-family: var(--font-primary);
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--color-black);
}
#bs1{
    color: var(--color-orange);
}
#bs2{
    color: var(--color-blue);
}
.banner-text p{
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 24px;
}
.banner-img{
    text-align: right;
}
.banner-img img{
    width: 100%;
}


/* curriculum-section */

.curriculum-section{
    background: url(assets/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
}
.curriculum{
    width: 80%;
    margin: 0 auto;
}

.curriculum h2{
    color: var(--color-black);
    text-align: center;
    font-family: var(--font-primary);
    font-size: 2.9rem;
}

.curri-cards{
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    gap: 28px;
}
/* card */
.curri-card{
    text-align: center;
    padding: 40px;
}
.curri-card h4{
    color: var(--color-black);
    font-family: var(--font-primary);
    font-size: 1.6rem;
    font-weight: 700;
}

.curri-card p{
    color: rgb(128, 128, 128);
    font-family: var(--font-second);
    font-size: 1rem;
    font-weight: 500;
}
.curri-card p{
    text-decoration: none;
}
.curri-card img, h4, p, a{
    padding-bottom: 32px;
}

#curri-card1{
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#curri-card1 a{
    color: var(--color-blue);
    text-decoration: none;
}
#curri-card2{
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#curri-card2 a{
    color: var(--color-orange);
    text-decoration: none;
}
#curri-card3{
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    
}
#curri-card3 a{
    color: rgb(135, 0, 255);
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--font-primary);
}


.next-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.previous, .next{
    padding: 17px 22px 15px 22px;
    background-color: var(--color-orange);
    border-radius: 50%;
    cursor: pointer;
}











/* ########### Responsive CSS ############ */

/* Responsive css for small device */

@media screen and (max-width: 576px) {

        /* common css */

        .width80{
            width: 100%;
            padding: 0 20px;
            margin: 0 auto;
        }

    /* header */

    header{    
        padding-bottom: 20px;
    }

    .nav-logo h1{
        display: none;
    }

    .nav-section{
        border: 0.5px solid var(--color-orange);
        width: 100%;
        padding: 20px 20px;
    }
    .nav-menu{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    .mobile-bar{
        display: block;
        font-size: 2rem;
    }

    /* Banner */
    .banner-section{
        flex-direction: column-reverse;
    }
    .banner-text{
        margin: 0 auto;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    .banner-text h1{
        font-size: 1.5rem;
    }
    .banner-img{
        width: 100%;
    }
    .btn{
        font-size: 1rem;
        padding: 6px 24px 6px 24px;
        border-radius: 8px;
    }

    .banner-text p {
        font-size: .8rem;
    }


    /* curriculum-section */

    .curri-cards{
        flex-direction: column;
        padding: 15px;
    }
    .curri-card img, h4, p, a{
        padding-bottom: 10px;
    }
    .curri-card{
        padding: 20px;
    }
    .curriculum{
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }
    .curri-card h4{
        font-size: 1.4rem;
    }
    .curriculum h2{
        font-size: 1.6rem;
    }



}



/* Responsive css for medium device */

@media screen and (min-width: 576px) and (max-width: 768px ) {

    /* common css */

    header{    
        padding-bottom: 20px;
    }

    .width80{
        width: 100%;
        padding: 0 10px;
        margin: 0 auto;
    }
    
    /* header */

    .nav-logo h1{
        display: none;
    }

    .nav-section{
        border: 0.5px solid var(--color-orange);
        width: 100%;
        padding: 20px 20px;
    }
    .nav-menu{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    .mobile-bar{
        display: block;
        font-size: 2rem;
    }

    /* Banner */
    .banner-section{
        flex-direction: column-reverse;
    }
    .banner-text{
        margin: 0 auto;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    .banner-text h1{
        tab-size: 1rem;
    }
    .banner-img{
        width: 100%;
    }
    .btn{
        font-size: 1rem;
        padding: 6px 24px 6px 24px;
        border-radius: 8px;
    }
    .banner-text p {
        font-size: 1.1rem;
    }
    

    /* curriculum-section */

    .curri-cards{
        flex-direction: column;
        padding: 20px;
    }
    .curri-card img, h4, p, a{
        padding-bottom: 15px;
    }
    .curri-card{
        padding: 20px;
    }
    .curriculum{
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }
    .curriculum h2{
        font-size: 1.6rem;
    }

}


